### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Maven ###
.mvn/
target/
logs/
static/
static.7z

# Maven Shade temporary file
dependency-reduced-pom.xml


### Eclipse / Java General ###
.classpath
.project
.factorypath
.settings/
.settings

### VSCode ###
.vscode/
.history/
*.code-workspace

### System Files ###
.DS_Store
Thumbs.db

### Temporary ###
*.log
*.tmp
*.bak
*.swp

### OS / Environment ###
# macOS
.AppleDouble
.Spotlight-V100
.Trashes
# Windows
ehthumbs.db
desktop.ini

### Others ###
# Build archives
*.jar
*.war
*.zip
*.7z
